{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>

    <link rel="stylesheet" href="{% static 'css/registration/reset.css' %}?v=2">
</head>
<body>

<div class="login-page">

    <div class="login-container">
        <h2 class="login-title">Reset Your Password</h2>

        <form id="resetForm" class="login-form">
            <label for="reset_email">Enter Your Email</label>
            <input type="email" id="reset_email" placeholder="yourname@gmail.com" required>

            <button type="submit" class="sign-in-btn">Send Reset Link</button>
        </form>

        <p id="reset_message" style="color: #000000; font-weight: bold; margin-top: 10px; display: none;"></p>

        <p class="back-to-login">
            <a href="{% url 'login' %}" class="back-link" style="text-decoration: none" >↩ Back to Login</a>
        </p>
    </div>

</div>

<script type="module">
    import { createClient } from "https://cdn.jsdelivr.net/npm/@supabase/supabase-js/+esm";

    const supabase = createClient(
        "https://sfgnccdbgmewovbogibo.supabase.co",
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmZ25jY2RiZ21ld292Ym9naWJvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg4NTgxMjYsImV4cCI6MjA3NDQzNDEyNn0.ZPrGL60IPIuS9DClstiv21r_Ss6RGluj18b0ulOGnLc"
    );

    document.getElementById("resetForm").addEventListener("submit", async (e) => {
        e.preventDefault();

        const email = document.getElementById("reset_email").value.trim();
        const res = await supabase.auth.resetPasswordForEmail(email, {
            redirectTo: "http://localhost:8000/reset-password/" // change if deployed
        });

        const msg = document.getElementById("reset_message");
        msg.style.display = "block";

        if (res.error) {
            msg.style.color = "red";
            msg.textContent = "Error: " + res.error.message;
        } else {
            msg.style.color = "#021526";
            msg.textContent = "The link was sent.";
        }
    });
</script>

</body>
</html>
